<h1>Корзина</h1>

<table>


  <tbody>
    <% @desires.each do |desire| %>

      <tr>
        <td><%= image_tag(Product.find_by(id: desire.product_id).image.thumb.url, alt: 'Image',height: '100px',width: '100px') %></td>
       <td>Назва товару: <%= Product.find_by(id: desire.product_id).name%></td>
        <td>Ціна: <%= Product.find_by(id: desire.product_id).sale_price%>
        </td>
        <td><%= link_to 'Показати', (product_path(desire.product_id))%></td>
        <td><%= link_to 'Видалити', desire, method: :delete, data: { confirm: 'Ви впевнені?' } %></td>
      <td>   <%= link_to "Придбати", new_order_path(order:{
            product_id: desire.product_id, user_id: current_user.id, quantity: desire.desires_quantity}) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>