
<div class="account"><%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>
    <div class="acc-input">
  <%= f.label "Ім'я" %>
  <%= f.text_field :name, class: 'form-control' %>
    </div><div class="acc-input">
  <%= f.label "Електронна пошта"%>
  <%= f.email_field :email, class: 'form-control' %>
</div><div class="acc-input">
  <%= f.label "Пароль" %>
  <%= f.password_field :password, class: 'form-control' %>
</div>  <div class="acc-input">
  <%= f.label "Підтвердіть пароль" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary",id: "regbtn" %></div>
  <% end %>

</div>