<div id="new-order">
<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label "ПІБ" %>
    <%= form.text_field :full_name unless logged_in? %>
    <%= form.text_field :full_name, value: current_user.name if logged_in? %>
  </div>

  <div class="field">
    <%= form.label "Місто" %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label "Телефон" %>
    <%= form.text_field :mobile %>
  </div>

  <div class="field">
    <%= form.label "Електронна пошта" %>
    <%= form.text_field :email unless logged_in? %>
    <%= form.text_field :email, value: current_user.email if logged_in? %>
  </div>

  <div class="field">
    <%= form.label "Адреса" %>
    <%= form.text_field :order_address %>
  </div>

  <div class="field">
    <%= form.label "Поштовий індекс" %>
    <%= form.text_field :post_number %>
  </div>


  <div class="field">
    <%= form.label  "Тип доставки "%><br />
    <%= form.label :order_type, "Укрпошта", :value => "true"  %>
    <%= form.radio_button :order_type, true %>
    <%= form.label :order_type, "Нова пошта", :value => "false" %>
    <%= form.radio_button :order_type, false, :checked => true %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :product_id, value: @product.id %>
  <%= form.hidden_field :quantity, value: @quantity %>
  <%= form.hidden_field :order_price, value: @order_price %>
  <div class="actions">
    <%= form.submit "Замовити" %>
  </div>
<% end %>
</div>