<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @order.full_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @order.city %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @order.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Order type:</strong>
  <%= @order.order_type %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.order_price %>
</p>

<%= link_to 'Back', orders_path %>
