<p id="notice"><%= notice %></p>
<div id="order-show">
  <%= image_tag("#{@product.image}") %>
<p>
  <strong>ПІБ :</strong>
  <%= @order.full_name %>
</p>

<p>
  <strong>Місто:</strong>
  <%= @order.city %>
</p>

<p>
  <strong>Телефон:</strong>
  <%= @order.mobile %>
</p>

<p>
  <strong>Електронна пошта:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Доставка:</strong>
  <%= @order.order_type %>
</p>

<p>
  <strong>Кількість:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Ціна:</strong>
  <%= @order.order_price %>
</p>

<%= link_to 'Назад', orders_path %>
</div>