<p id="notice"><%= notice %></p>

<h1>Tags</h1>

<table>
  <thead>
    <tr>
      <th>Товар</th>
      <th>Теги</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td>
          <% @tags.where(product_id: product.id).each do |tag|%>
            <%= tag.name %>
          <% end %>
        </td>
        <td><%= link_to 'Редагувати', edit_tag_path(product.id) %></td>
        <td><%= link_to 'Переглянути', product %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
