<p id="notice"><%= notice %></p>



<% @products.each do |product| %>


<div class="item"> <%= image_tag(product.image.thumb.url, alt: 'Image',height: '250px',width: '250px') %>

  <div class="name">

    <%= link_to content_tag(:span,product.name), product,class: 'name' %></div>
  <div class="secondline"> <span> <%= product.sale_price %></span>
    <%if !Desire.find_by(product_id: product.id) %>
        <%= link_to "Cart", 'javascript:void(0);',
                    id: 'create_desire', class: "#{product.id} #{current_user.id}" %></div>
    <%end %>
  <!-- desires_path(desire: {product_id: product.id,user_id: current_user.id}),
  action: :create, :method => :post -->

  <% if logged_in_and_admin? %>
    <%= link_to 'Edit', edit_product_path(product) %>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%end%>

</div>


<% end %>


<% if logged_in_and_admin? %>
<%= link_to 'New Product', new_product_path %>
<%end%>