<p id="notice"><%= notice %></p>

<div id="productname">  <%= @product.name %> </div>



<div id="productpicture"> <%= link_to(image_tag(@product.attachments.first&.url(:thumb), alt: 'Image'),
                                      @product.attachments.first&.url, target: '_blank') %>
</div><div id="productprice">  <%= @product.sale_price %></div>

<div id="buy-form">
<%= form_for(:order, :url => {:controller => 'orders', :action => 'new'},
             html:{method: 'GET'}) do |f| %>
  Кількість:
  <%= f.number_field(:quantity, min: "1", max: "#{@product.quantity}",class: "number", value: "1")%>
    <% if logged_in? %>
  <%= f.hidden_field(:user_id, value: current_user.id)%>
  <%= f.hidden_field(:product_id, value: @product.id)%>
      <% end %>
  <%= f.submit("Купити", id: "buy-btn", name: "buy")%>

<% end %>
</div>

<div class="clear"></div>

<div class="grouptiny"></div>
<div class="photos">
<% if @product.attachments? %>
  <ul>
    <% @product.attachments.each do |attachment| %>
        <li><%= link_to(image_tag(attachment.thumb.url, alt: 'Image'), attachment.url, target: '_blank') %></li>
    <% end %>
  </ul>
<% end %>
</div>


<div id="description"> <%= @product.description %></div>

<div class="clear"></div>
<% if logged_in_and_admin? %>
  <div class="admin-block">
    <%= link_to 'Редагувати', edit_product_path(@product) %></div>
  <% end %>



<div class="group">Коментарі</div>
<div class="comments">
<% @product.comments.each do |comment| %>
  <div class="comment-body">
  <p>

    <%= comment.commenter %>
  </p>

  <p>

    <%= comment.body %> <% if logged_in_and_admin? %>
      <%= link_to 'Видалити', [comment.product, comment],
                  method: :delete,
                  data: { confirm: 'Ви впевнені?' } %>
    <% end %>

    <% if logged_in? && current_user.id == comment.user_id && !current_user.admin? %>
      <%= link_to 'Видалити', [comment.product, comment],
                  method: :delete,
                  data: { confirm: 'Ви впевнені?' } %>
    <% end %>
  </p></div>

  <% end %></div>

<% if logged_in? %>
  <div class="comment-add"><div class="rating">
 <div class="ratingshow">  <%= image_tag('ratingstar.png',alt: 'Image',height: '32px',width: '32px') %> <%= @product.p_rating %>  <%= image_tag('ratingpeople.jpg',alt: 'Image',height:'32px',width: '32px') %>  <%= @product.rating.all.count %>
  </div><div class="rate">
    <% unless Rating.where(user_id: current_user.id, product_id: @product.id).any?%>
    <%= form_with(model: [@product, @product.rating.build], local: true) do |f|%>
       <%= f.number_field(:value,class: 'number') %>
        <%= f.hidden_field(:user_id, value: current_user.id) %>
      <%= f.submit 'Оцінити',class:'commbtn' %>
    <% end %>
      <% end %>
      </div></div>
<%= form_with(model: [ @product, @product.comments.build ], local: true) do |form| %>
  <p>
    <%= form.hidden_field(:commenter, value: current_user.name) %>
    <%= form.hidden_field(:user_id, value: current_user.id) %>
  </p>
  <p>

    <%= form.text_area :body%>
  </p>

  <p>
    <%= form.submit 'Коментувати' ,class: 'commbtn' %>
  </p>
    <% end %></div>
<% end %>

