<p id="notice"><%= notice %></p>

<div class="back"><%= link_to(image_tag('backbtn.png',height: '100px',width:'100px'),products_path) %></div>
<div id="productname">  <%= @product.name %> </div>



<div id="productpicture"> <%= link_to(image_tag(@product.image.thumb.url, alt: 'Image'),
                                      @product.image.url, target: '_blank') %>
</div><div id="productprice">  <%= @product.sale_price %></div>

<%= form_tag(new_order_path(order:{
                product_id: @product.id, user_id: current_user.id}),
             method: :get,id: "buy-form") do %>
  Кількість
  <%= number_field_tag("number",
                 min: "1", max: "1000")%>
  <%= button_tag("Купити", id: "buy-btn",
                 onclick: "", name: "buy")%>

  <%= link_to "BUY", new_order_path(order:{
      product_id: @product.id, user_id: current_user.id}) %>
<% end %>


<div class="clear"></div>


<div class="group">Description</div>
<div class="productpics"> <%= link_to(image_tag(@product.image.thumb.url, alt: 'Image'),
                                      @product.image.url, target: '_blank') %></div>
<div class="productpics"> <%= link_to(image_tag(@product.image.thumb.url, alt: 'Image'),
                                      @product.image.url, target: '_blank') %></div>
<div class="productpics"> <%= link_to(image_tag(@product.image.thumb.url, alt: 'Image'),
                                      @product.image.url, target: '_blank') %></div>
<div class="productpics"> <%= link_to(image_tag(@product.image.thumb.url, alt: 'Image'),
                                      @product.image.url, target: '_blank') %></div>



<div id="description"> <%= @product.description %></div>

<% if logged_in_and_admin? %>
<%= link_to 'Edit', edit_product_path(@product) %>
  <% end %>

