<div id="header">
  <div id="header-menu">


      <ul>
        <li id="logo"><%= link_to "Rokkos", root_path %></li>
        <% if logged_in_and_admin? %>
        <% end %>
        <li><div class="dropdown"><%= link_to "Men's" %>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div></div></li>
     <li> <div class="dropdown"><%= link_to "Women's" %>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div></div></li>
        <% if logged_in? %>



          <div class="dropdown float-right"><li><%= link_to "Example" %>
            <div class="dropdown-content">
              <%= link_to "Log out", logout_path, method: :delete %>
                <%= link_to "My cart", desires_path %>
                <%= link_to "My orders", orders_path %>
              <%= link_to "Settings", edit_user_path(current_user) %>
              <% if logged_in_and_admin? %>
                <%= link_to "Users", users_path %>
                <%= link_to "Tags", tags_path %>
              <% end %>

            </div></li></div>

            </ul>
          </li>
        <% else %>
          <div class="float-right">
            <li ><%= link_to "Log in", login_path %></li></div>
        <% end %>
      </ul>

  </div>
</div>