<div id="header">
  <div id="header-menu">


      <ul>
        <li id="logo"><%= link_to "Rokkos", root_path %></li>
        <% if logged_in_and_admin? %>
        <% end %>
        <li><div class="dropdown"><%= link_to "Чоловічі" %>
        <div class="dropdown-content">
          <a href="#">Кошельки</a>
          <a href="#">Портмане</a>
          <a href="#">Ремінці</a>
        </div></div></li>
     <li> <div class="dropdown"><%= link_to "Жіночі" %>
          <div class="dropdown-content">
            <a href="#">Кошельки</a>
            <a href="#">Портмане</a>
            <a href="#">Ремінці</a>
          </div></div></li>
        <% if logged_in? %>



          <div class="dropdown float-right"><li><%= link_to current_user.name %>
            <div class="dropdown-content">

                <%= link_to "Корзина", desires_path %>
                <%= link_to "Замовлення", orders_path %>
              <%= link_to "Настройки", edit_user_path(current_user) %>
              <% if logged_in_and_admin? %>
                <%= link_to "Користувачі", users_path %>
                <%= link_to "Теги", tags_path %>
                <%= link_to "Вихід", logout_path, method: :delete %>
              <% end %>

            </div></li></div>

            </ul>
          </li>
        <% else %>
          <div class="float-right">
            <li ><%= link_to "Вхід", login_path %></li></div>
        <% end %>
      </ul>

  </div>
</div>