<!DOCTYPE html>
<html>
  <head>
    <title>Rokkos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="https://www.google.com.ua/search?client=ubuntu&hs=QPy&biw=1728&bih=847&tbm=isch&sa=1&ei=5z0JXIPRCoGnrgSq8aXoDg&q=leather+icon&oq=leather+icon&gs_l=img.3..0i7i30l10.1628.3366..3494...0.0..0.176.864.0j6......1....1..gws-wiz-img.......0i19j0i7i30i19.jZWREindbUo#imgrc=VxPdt5NusniqsM:">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/header' %>

  <div id="wrapper">
    <div class="back"><%= link_to(image_tag('backbtn.png',height: '50px',width:'50px'),'javascript:history.go(-1)') %></div>
  <div id="content">


    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message) %>
    <% end %>
    <%= yield %>

</div>
  </div>
  </div><%= render 'layouts/footer' %>
  </body>

<script>

    window.onscroll = function() {myFunction()};

// Get the header
var header = document.getElementById("header");

// Get the offset position of the navbar
var sticky = header.offsetTop;

// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
    if (window.pageYOffset > sticky) {
        header.classList.add("shrink");
    } else {
        header.classList.remove("shrink");
    }
}

    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";









    }

    $(document).ready(function() {
        setInterval(function () {
            document.getElementById("next").click();
        }, 5000);
    });

</script>
</html>
