<!DOCTYPE html>
<html>
  <head>
    <title>Rokkos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/header' %>

  <div id="wrapper">
    <div class="back"><%= link_to(image_tag('backbtn.png',height: '50px',width:'50px'),'javascript:history.go(-1)') %></div>
  <div id="content">


    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message) %>
    <% end %>
    <%= yield %>

</div>
  </div>
  </div><%= render 'layouts/footer' %>
  </body>

<script>

    window.onscroll = function() {myFunction()};

// Get the header
var header = document.getElementById("header");

// Get the offset position of the navbar
var sticky = header.offsetTop;

// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
    if (window.pageYOffset > sticky) {
        header.classList.add("shrink");
    } else {
        header.classList.remove("shrink");
    }
}


    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";









    }
    var slideIndex1 = 0;
    showSlidesAuto();

    function showSlidesAuto() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slideIndex1++;
        if (slideIndex1 > slides.length) {slideIndex1 = 1}
        slides[slideIndex1-1].style.display = "block";
        dots[slideIndex1-1].className += " active";
        setTimeout(showSlidesAuto, 5000); // Change image every 2 seconds
    }

</script>
</html>
